header {
  margin-top: 30px;
}

ul li {
	padding: 0 10px 0 5px;
}

header ul li {
  display: inline;
}

li img {
	height: 25px;
	border-radius: 50%;
}

#signin {
	background: #3B7CFB;
	color: white;
	height: 25px;
}

#main {
  margin: auto;
  width: 50%;
}

#search-bar {
	height: 40px;
	margin-bottom: 20px;
}

form {
	margin-bottom: 40px;
	text-align: center;
}

input[type="text"] {
	width: 85%;
}

input[type="submit"] {
	background: #F4F4F4;
	padding: 10px;
	font-weight: bold;
	border: none;
}

#security-pic img {
	height: 30px;
	float: left;
}

#security-phrase a {
	color: blue;
}

footer {
	background: #F0F0F0;
	width: 100%;
	height: ;
	padding: 2px 0 2px 0;
}

footer ul li {
  display: inline;
  padding: 0 40px 0 0;
}

li.rightside {
	float: right;
}

a {
	font-family: sans-serif;
	text-decoration: none;
	color: #434343;
}

a:hover {
	text-decoration: underline;
}